header.header
    .header__wrap.wrap
        a.header__logo(href="/", title=title)
            img.header__logo-tag(src="/dist/images/logo.svg", alt=title)
        nav.header__menu
            button.header__menu-button.button--unstyled(data-menu-button)
                include ../icons/menu
            span.header__menu-label(data-menu-label) 0
        .dynamic-cart(data-dynamic-cart)
            .wrap(data-dynamic-cart-empty)
                .dynamic-cart__message
                    h2 Seu carrinho está vazio
                    p Encontre os produtos que deseja no <strong>Buscapé</strong>!

include ../templates/dynamic-header