<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buscapé · Categoria Tecnologia</title>
    <link rel="stylesheet" href="../dist/css/style.css">
</head>
<body ontouchstart="">
    <header class="header">
        <div class="header__wrap wrap">
            <a href="#" class="header__logo" title="Buscapé">
                <img src="../dist/images/logo.svg" alt="Buscapé" class="header__logo-tag" />
            </a>
            <nav class="header__menu">
                <button class=" header__menu-button button--unstyled" data-menu-button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                </button>
                <span class="header__menu-label">0</span>
            </nav>
            <div class="dynamic-cart" data-dynamic-cart>
                <div class="dynamic-cart__message">
                    <h2>Seu carrinho está vazio</h2>
                    <p>Encontre os produtos que deseja no <strong>Buscapé</strong>!</p>
                </div>
                <div href="#" class="dynamic-cart__product">
                    <button class="button--unstyled dynamic-cart__remove">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                    <span class="dynamic-cart__image">
                        <img src="#" alt="{ cart.product.name }" />
                    </span>
                    <p class="dynamic-cart__name">
                        <a href="#">{ cart.product.name }</a>
                    </p>
                    <p class="dynamic-cart__installments">{ cart.product.installments }</p>
                    <p class="dynamic-cart__price">{ cart.product.price }</p>
                </div>
            </div>
        </div>
    </header>
    <div class="wrap">
        <h1>Tecnologia</h1>
    </div>
    <section class="product-list">
        <div class="wrap">
            <div class="product-card">
                <div class="product-card__gallery">
                    <button class="button--unstyled">
                        <img src="#" />
                    </button>
                </div>
                <div class="product-card__image">
                    <a href="#">
                        <img src="#" alt="{ product.name }" class="product-card__image-tag">
                    </a>
                </div>
                <div class="product-card__information">
                    <h2 class="product-card__title">
                        <a href="#" class="product-card__title-link">{ product.name }</a>
                        <button class="button--unstyled product-card__wishlist" data-wishlist-button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                        </button>
                    </h2>
                    <div class="product-card__details">
                        <div class="product-card__prices">
                            <p>
                                <span class="product-card__label">{ product.label }</span>
                            </p>
                            <p class="product-card__installments">{ product.installments }</p>
                            <p class="product-card__price">
                                <small>{ product.price }</small>
                            </p>
                        </div>
                        <div class="product-card__cta">
                            <p>
                                <button class="button button--success button--small button--icon-text">
                                    <span>Adicionar ao carrinho</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="../dist/js/script.js"></script>
</body>
</html>