.template.template__dynamic-cart(template-dynamic-cart)
    button.button--unstyled.dynamic-cart__remove
        include ../icons/close
    span.dynamic-cart__image
        img(template-dynamic-cart-image)
    p.dynamic-cart__name
        a(href="#", template-dynamic-cart-name)
    p.dynamic-cart__installments(template-dynamic-cart-installments)
    p.dynamic-cart__price(template-dynamic-cart-price)