.template.template__dynamic-cart-subtotal(template-dynamic-cart-subtotal)
    .wrap
        p.dynamic-header__subtotal-header subtotal
        p.dynamic-header__subtotal-installments(template-installments)
        p.dynamic-header__subtotal-price(template-price)