doctype html
head
    meta(chartset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title #{title}
    meta(name="description" content="Teste para o Buscapé")
    meta(name="viewport" content="width=device-width")
    meta(http-equiv="Content-Language" content="pt-br")
    link(href="/dist/css/style.css" rel="stylesheet")
body(ontouchstart="")
    include ../partials/header
    block content
    script(src="/dist/js/script.js")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat")